.expense-form {
  background-color: #8f3333; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expense-form input {
  color: #5e0101;
  font-size:25px;
  padding: 10px;
  margin: 5px;
  width: 30%;
}

.expense-form button {
  font-size:18px;
  background-color: #7a7a7a; 
  color: rgb(0, 0, 0); 
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  width: 10%; 
}

.expense-form button:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
